mixin inputText(placeholder, className) 
	input(type="text" placeholder=placeholder class='input-decorate '+ className)
mixin inputPhone(placeholder, className) 
	input(type="phone" placeholder=placeholder class='input-decorate phone-mask '+ className)
mixin inputEmail(placeholder, className) 
	input(type="email" placeholder=placeholder class='input-decorate check-mail '+ className)
mixin inputPassword(placeholder, className) 
	.password-field(class=className )
		input(type="password" placeholder=placeholder class='input-decorate')
		i.view-ico(data-visibility="false")
mixin inputTextarea(placeholder, className) 
	textarea(placeholder=placeholder class='input-decorate '+className)
mixin inputCheckbox(label, options, className ) 
	if label
		.checkbox-container
			b=label
	each val in options
		.checkbox(class=className)
			label= val 
				input(type="checkbox")
				span
mixin inputRadio(label, options, optionsCheck, className ) 
	.checkbox-container
		b=label
	each val, index in options
		.checkbox(class=className)
			label= val
				input(type="radio" name="options")
				span
mixin inputFile(multy, textchoise, hint, className ) 
	.input-file-container(class=className)
		input.input-file(type="file" data-multy=multy data-textchoise=textchoise data-hint=hint accept="image/jpeg,image/png,image/gif"  )
mixin inputPhoto(multy, textchoise, hint, className ) 
	.input-file-container(class=className)
		input.input-file(type="file" data-multy=multy data-textchoise=textchoise data-hint=hint accept="image/jpeg,image/png,image/gif"  )
mixin inputSelect(firstText, options, className)
	select.style-select(data-text=firstText data-class=className)
		each val in options
			option= val
mixin inputSubmit(textBtn, className, wrapClassName)
	.form-btn-container(class=wrapClassName)
		input(type="submit" class='btn '+className  value=textBtn)